body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style: none;
}

.header {
    background-color: #FFFFFF;
}

.head-logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.web {
    color: #4D5AE5;
}

.nav-link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link:active {
    color: #404bbf;
}

.nav-link:hover {
    text-decoration: underline;
    color: #404bbf;
}

.nav-link:focus {
    text-decoration: underline;
    color: #404bbf;
}

.address-link {
    font-style: normal;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:active {
    color: #404bbf;
}

.address-link:hover {
    color: #404bbf;
    text-decoration: underline;
}

.address-link:focus {
    color: #404bbf;
    text-decoration: underline;
}

.hero {
    background-color: #2E2F42;
}

.hero-text {
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
    
.button:hover {
    background-color: #404BBF;
    cursor: pointer;
}

.button:focus{
    background-color: #404BBF;
}

.section01 {
    background-color: #FFFFFF;
}

.section01-head {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section01-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team-head {
     font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-card {   
    background-color: #FFFFFF;
}

.team-head3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
    background-color: #FFFFFF;
}

.port-head {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.port-head3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.port-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.foot-logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.foot-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}