body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 4;
}

ul {
    list-style: none;
    font-style: normal;
}

header ul {
    font-size: 16px;
    line-height: 1.5;
}

header nav {
    font-weight: 500;
    color: #2E2F42;
}

header address {
    font-weight: 400;
    color: #434455;
}

.logo {
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 0.857;
    letter-spacing: 3;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
}

.web {
    color: #4D5AE5;
}

ul .link:active {
    color: #4D5AE5;
}

ul .link:hover {
    color: #404bbf;
    text-decoration: underline;
}

ul .link:focus {
    color: #404bbf;
    text-decoration: underline;
}

.team-card li {
    background-color: #FFFFFF;
}

.hero-image {
    background-color: #2E2F42;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 2;
    text-align: center;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.button:focus {
    background-color: #404BBF;
}

.button:hover {
     background-color: #404BBF;
}

.your-team {
    background-color: #F4F4FD;
}

.team-text {
    text-align: center;
}

.portfolio {
    text-align: center;
}

.footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.footer .logo {
    background-color: #2E2F42;
    color: #F4F4FD;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2;
    color: #2E2F42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2;
    color: #434455;
}